@import url("font.css");
body {
    background-color: #3a4750;
    background: url(/img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.soondiv {
    background-color: rgba(212, 212, 212, 0.5);;
    position: absolute;
    top: 10%;
    text-align: center;
    color: black;
    width:100%;
    left: 0%;
}

.maindiv {
    background-color: rgba(212, 212, 212, 0.5);;
    position: absolute;
    top: 5%;
    text-align: center;
    color: black;
    width:70%;
    left: 15%;
    align-items: center;
}
.mod-div {
    background-color: rgba(212, 212, 212, 0.5);;
    top: 50%;
    text-align: center;
    color: black;
    width: 22%;
    right: 50%;
    float:left;
    align-items: center;
    margin-right: 40px;
    margin-top: 30px;
    padding: 5px;
}
.mod-present {
    background-color: rgba(212, 212, 212, 0.5);;
    position: absolute;
    top: 10%;
    color: black;
    width:45%;
    text-align: center;
    left: 30%;
    font-size-adjust: auto; 

}
a {
    color: rgb(4, 0, 255);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(212, 212, 212, 0.5);
    border-radius: 9px;
}
li {
    float: left;
    transition-duration: 0.5s;
}
li:hover{
    background-color: rgba(0, 0, 0, 0.473);


}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
button {
    border-radius: 6px;
    padding: 8px 32px;
    background-color: rgba(255, 255, 255, 0.575);
    transition-duration: 0.5s;
    color:rgb(0, 0, 0);
}
button:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}